{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
 
<h2> Edit Restaurant: {{restaurant.name}}</h2>
<form action="{{ url_for('editRestaurant',restaurant_id = restaurant.id)}}" method = "post">
	<div class="form-group">
		<label for="name">Name:</label>
		<input type ="text" class="form-control" name="name" value="{{restaurant.name }}">
			<label for="image">Image:</label>
			<input  type="image" class="form-control" id="image" alt="Login" src="" name="image"  placeholder="{{restaurant.image}}">
				<label for="description">Description:</label>
				<input type="text" class="form-control" name="description" placeholder="{{restaurant.description}}">
				</div>
				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default">
					<i class="material-icons">done</i>Done
				</button>
				<a href = '{{url_for('showRestaurants')}}'>
					<button type="submit" class="btn btn-warning">
						<i class="material-icons">cancel</i>Cancel
					</button>
				</a>
			</form>	
{% endblock %}


					