<!DOCTYPE html>
<html lang="en">
	<head>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Titan+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styling.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
	</head>
   
	<body>
		<div class="container">
			{% block content %}
			{% endblock %} 
		</div>
	</body>
</html>